html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

::selection {
  background: $theme-color-blue; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: $theme-color-blue; /* Gecko Browsers */
  color: #FFF;
}

body {
  font-family: $theme-font;
}


h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: $font__weight__black;
  line-height: 1.1;
  margin: 0 0 1rem;
}

h1 {
  font-size: 4.75rem;

  @media only screen AND (max-width: $screen-lg-max){
    font-size: 4.25rem;
  }
  @media only screen AND (max-width: $screen-md-max){
    font-size: 3.75rem;
  }
  @media only screen AND (max-width: $screen-sm-max){
    font-size: 3.25rem;
  }
}


h1 {

}

h2 {

}

p {
  line-height: 1.1;
}
