$theme-color-light: #fff;
$theme-color-dark: #1b1d1f;

$theme-color-grey: #e1e1e1;
$theme-color-darkgrey: #5f6468;
$theme-color-blue: #206bff;


$text-dark: #000;

$black: #000;

$theme-font: "Lato", sans-serif;
$heading-font-family: "Lato", sans-serif;
