// Variables will be set globally
@import 'variables';

// Start with Third Party Imports
@import 'bootstrap-variables';
@import '~bootstrap/scss/bootstrap';

// Default styles
@import 'typography';

// Loaders css for preloading svg
@import '~loaders.css/src/animations/ball-clip-rotate-multiple';

// Functions
@import 'functions/calculate';

// Mixins
@import 'mixins/placeholder';
@import 'mixins/transitions';

// components as HTML elements, defined as bootstrap does
@import 'components/buttons';
@import 'components/forms';
@import 'components/navigation';

// sections, actually react components
@import 'sections/footer';
@import 'sections/header';
@import 'sections/home-opening';
@import 'sections/recent-work';


body {
  margin: 0;
  background-color: transparent;

  &:not(.sb-show-main) {
    background-color: $theme-color-dark;
  }

  h1, h2 {
      color: $theme-color-light;
  }

  &.blue-bg {
    background-color: $theme-color-blue;
  }
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: 800;
}

h1 {
  font-size: 4.75rem;
}

svg {
  max-width: 100%;
}

a {
	color: #FFF;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}


// text styles
.text-dark {
  color: $text-dark;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
}